<h1 class="table" style="margin-top: 50px; display: flex; justify-content: center;">Todos los productos</h1>
{{#if products.length}}
    <div>
        <table style="margin: 30px; display: flex; justify-content: center; background-color: #ff0505;">
            <tr style="font-size: 25px;">
                <th style="width: 450px;">Nombre</th>
                <th style="width: 450px;">Precio</th>
                <th style="width: 450px;">Imagen</th>
            </tr>
    {{#each products}}
            <tr style="display: flex; justify-content: space-around; margin-top: 30px;">
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img width="50" src={{this.thumbnail}} alt={{this.id}}></td>
            </tr>
    {{/each}}
        </table>
    </div>
    <button class="btnVolver"><a href="/">Atras</a></button>
    {{else}}
<h3 style="margin-top: 50px; display: flex; justify-content: center; color: rgb(0, 0, 0); font-size: initial;">No hay productos</h3>
{{/if}}